/* Desktop */

.slideShowDiv {
    border: 2px solid red;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}
  
.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    /*position: relative;
    z-index: 0;*/
}
  
.slideShowImg {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 500px;
}

.slideShowImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.number{
    justify-content: center;
    size: 18px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 25px;
    position: absolute;
    z-index: 1;
    color: white;
}
  
/* Buttons */
  
.changePicture{
    border: 2px solid orange;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    /*position: absolute;
    z-index: 1;*/
}

.previous, .next{
    /*display: flex;*/
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 50px;
    border: 2px solid green ;
}

.previous:hover, .next:hover{
    cursor: pointer;
}

/* Mobile */
@media(width < 768px){
    .previous, .next{
        font-size: 20px;
    }

    .number{
        display: none;
    }
      
}