.divBox{
    width : 100%;
    height : 100%;
    margin : 70px 0 70px 0;
    padding : 0;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : space-between;
}

.errorLink{
    font-size : 18px;
    margin-top : 75px;
}