/* Desktop */
.cardDiv {
    display : flex;
    flex-direction : column;
    justify-content: flex-end;
    width : 30%;
    max-height : 325px;
    margin-bottom : 50px;
    border-radius : 10px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    z-index: 0;
}

.cardImg{
    height : 100%;
    width : 100%;
    border-radius : 10px;
    object-fit : cover;
}

.cardSpan{
    width: 100%;
    height: 100%;
    font-size : 18px;
    font-weight : bold;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.5) 70%);
    padding : 20px 10px 20px 10px;
    border-radius : 10px;
    position : absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Mobile*/
@media(width < 768px) {
    .cardDiv {
        width : 100%;
        height: 450px;
        max-height : 450px;
        margin-bottom : 25px;
    }    

}