/* Desktop */
.rentaListDiv{
    display : flex;
    justify-content : space-between;
    flex-wrap: wrap;
    margin-top : 50px;
    padding : 50px;
    border-radius : 25px;
}

/* Mobile */
@media(width < 768px){
    .rentaListDiv{
        background-color: white;
        margin-top: 25px;
        padding: 0;
    }
}