/* Desktop */
.footerDiv {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    background-color : black;
    height : 210px;
    width : 100%;
}

.footerParagraph {
    font-size: 24px;
    color : white;
}

/* Mobile */
@media(width < 768px){
    .footerParagraph {
        font-size: 12px;
    }
}