@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
  font-family : 'Montserrat';
  box-sizing : border-box;
}

body{
  margin : 0;
  padding : 0;
}

/* CSS liés aux couleurs */

.primary {
  color : #FF6060;
}

.primaryBackground{
  background-color: #FF6060;
}

.secondary {
  background-color: #F6F6F6;
}

/* Factorisation de style sur pages Home & About */
/* Desktop */
.divBoxPages{
  margin: 50px 100px 50px 100px;
  border: 2px solid red;
}

/* Mobile*/
@media(width < 768px){ 

  .divBoxPages{
    margin: 30px 20px 30px 20px;
    border: 2px solid red;
  }
}
