/* Desktop */
.presentationDiv{
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
    width: 100%;
}

.presentationImg{
    width: 100%;
    border-radius : 10px;
    filter: brightness(70%);
}

.presentationParagraph{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 0;
}

.title{
    color: white;
    font-size: 48px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

/* Mobile */
@media(width < 768px){
    .title{
        font-size: 30px;
        height: 130px;
    }
}
  
